@import '@/styles/theme.scss';

.chat-bar {
  display: flex;

  padding: 8px;

  input {
    flex-grow: 1;
  }

  .send-button {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    width: 36px;
    margin-left: 6px;

    color: $color-grey1;

    &.filled {
      color: $color-primary1;
    }
  }
}
