@import '@/styles/theme.scss';

.text-input {
  box-sizing: border-box;
  border: 1px solid $color-grey3;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-title-active;

  &.medium {
    height: 36px;
    padding: 7px;

    @include text-small;
  }

  &.large {
    height: 40px;
    padding: 9px 15px 7px 15px;

    @include text-medium;
  }

  &:focus {
    outline: 0;
    border: 1px solid $color-primary1;
  }

  &::placeholder {
    color: $color-grey1;
  }
}
