@import '@/styles/theme.scss';

.category-page-wrapper {
  z-index: 2;

  width: 100%;
  min-height: 100vh;

  position: absolute;
  top: 0;
  left: -100vw;
  transition-duration: 0.7s;

  &.show {
    transform: translate(100vw, 0);
    transition-duration: 0.7s;
  }
}

.app-main {
  width: 100vw;
  height: 100vh;

  background-color: $color-white;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & > * {
    margin-top: 24px;
  }
}
