@import '@/styles/theme.scss';

.menu-page-wrapper {
  z-index: 2;

  width: 100%;
  min-height: 100vh;

  background-color: $color-white;

  position: absolute;
  top: 0;
  left: 100vw;
  transition-duration: 0.7s;

  &.show {
    transform: translate(-100vw, 0);
    transition-duration: 0.7s;
  }

  .menu-main {
    background-color: $color-white;
  }
}
