@import '@/styles/theme.scss';

.chat-page-wrapper {
  z-index: 2;

  position: absolute;
  top: 0;
  left: 100%;
  transition-duration: 0.7s;

  background-color: $color-white;

  &.show {
    transform: translate(-100%, 0);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid $color-grey3;
}

.chat-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 56px;
  background-color: $color-white;
  overflow-y: auto;
}
