@import '@/styles/theme.scss';

.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 86px;
  height: 50px;

  border-bottom: 2px solid $color-transparent;
  background-color: $color-transparent;

  cursor: pointer;

  &.selected {
    border-bottom: 2px solid $color-primary1;
  }

  &.selected .btn-text {
    color: $color-primary1;
  }
}

.btn-text {
  color: $color-grey1;
  @include link-small;
}
