@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  border: none;
  outline: none;

  user-select: none;

  background-color: transparent;
  
  cursor: pointer;
}
